{% extends "base.html" %}
{% block content %}
  <section class="probootstrap-cover overflow-hidden relative"  style="background-image: url('{{ url_for('static', filename='images/bg_1.jpg') }}');" data-stellar-background-ratio="0.5" id="section-home">
      <div class="overlay"></div>
      <div class="container">
          <div id="form-container-row" class="row">
          <div id="form-container" class="col-md-6 probootstrap-animate">
<form id="msform">
  <h3 style="color: white";>Enter Your Property Details.</h3><br><br>
  <!-- progressbar -->
  <ul id="progressbar">
       <li class="active">Age</li>
       <li> Diabetes type</li>
       <li>Treament type</li>
   <li>Average Fast Glucose</>
   <li>Average postprandial Glucose</>
  </ul>
  <!-- fieldsets -->
  <fieldset>
    <h2 class="fs-title">PATIENT AGE</h2>
    <h3 class="fs-subtitle">This is step 1</h3>
    <input type="number" name="quantity" min="30" max="50" placeholder="Age?">
<input type="button" name="next" class="next action-button" value="Next" />
  </fieldset>
  <fieldset>
    <h2 class="fs-title">Diabetes type</h2>
    <h3 class="fs-subtitle">What type of diabetes do you have?</h3>
    <select>
  <option value="a">Diabetes Type A</option>
  <option value="b">Diabetes Type B</option>
</select>
  </br>
    <input type="button" name="previous" class="previous action-button" value="Previous" />
    <input type="button" name="next" class="next action-button" value="Next" />
  </fieldset>
<fieldset>
    <h2 class="fs-title">Treament Type</h2>
    <h3 class="fs-subtitle"></h3>
    <select>
  <option value="a">Insuline</option>
  <option value="b">Oral Treament</option>
</select>
  </br>
    <input type="button" name="previous" class="previous action-button" value="Previous" />
    <input type="button" name="next" class="next action-button" value="Next" />
  </fieldset>
<fieldset>
    <h2 class="fs-title">Average Fast Glucose</h2>
    <h3 class="fs-subtitle"></h3>
    <input type="number" name="quantity" min="30" max="50" placeholder="Average Fast Glucose?">
  </br>
    <input type="button" name="previous" class="previous action-button" value="Previous" />
    <input type="button" name="next" class="next action-button" value="Next" />
  </fieldset>
  <fieldset>
    <h2 class="fs-title">Details</h2>
    <h3 class="fs-subtitle">HBA1C</h3>
    <input name="name" placeholder="HBAA1C" class="name" required />
    <input type="button" name="previous" class="previous action-button" value="Previous" />
    <button id="btn-group1" class="submit action-button" type="button" name="submit">Calculate</button>
  </fieldset>
</form>
          </div>
        </div> 
        </div>    
    </section>
    <!-- END section -->
    <!-- END section -->

    <section class="probootstrap_section" id="section-feature-testimonial">
      <div class="container">
        <div class="row justify-content-center mb-5">
          <div class="col-md-12 text-center mb-5 probootstrap-animate">
            <h2 class="display-4 border-bottom probootstrap-section-heading">Why we Love NoBroker</h2>
            <blockquote class="">
              <p class="lead mb-4"><em>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</em></p>
            </blockquote>

          </div>
        </div>
        
      </div>
    </section>

{% endblock %}